<% provide(:title,"Help") %>

<h1>Help</h1>
<p>
  See the Ruby on Rails programming guide at
  <a href="https://guides.rubyonrails.org/"> Rails Guides </a>.
  for questions and help write on the <a href="https://stackoverflow.com/questions/tagged/ruby-on-rails"> Forum </a>.
</p>
