
<footer class="footer">
  <small>
    The <a href="https://rubyonrails.org/">Ruby on Rails</a> App by Aulicino Antonio Diego</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://weblog.rubyonrails.org/news/">News</a></li>
    </ul>
  </nav>
</footer>